<html>
    <head>
        <title>Braintree Checkout Example</title>
    </head>
    <body>
        <h1>Payment: $$amount</h1>
        
        #parse( "com/braintreegateway/example/Form.vm" )
    </body>
</html>
