<html>
    <head>
        <title>Braintree Checkout Example</title>
    </head>
    <body>
        <h1>Payment: $${amount}</h1>

        <form action="${trUrl}" autocomplete="off" method="post" />
            <fieldset>
                <legend>Customer</legend>
                <div><label for="transaction_customer_first_name">First Name</label></div>
                <div>
                    <div class="">
                        <input id="transaction_customer_first_name" name="transaction[customer][first_name]" size="30" type="text" />
                    </div>
                </div>
                <div><label for="transaction_customer_last_name">Last Name</label></div>
                <div><div class=""><input id="transaction_customer_last_name" name="transaction[customer][last_name]" size="30" type="text" /></div></div>
                <div><label for="transaction_customer_email">Email</label></div>
                <div><div class=""><input id="transaction_customer_email" name="transaction[customer][email]" size="30" type="text" /></div></div>
            </fieldset>  
            <fieldset>
                <legend>Credit Card</legend>
                <div><label for="transaction_credit_card_number">Number</label></div>
                <div><div class=""><input id="transaction_credit_card_number" name="transaction[credit_card][number]" size="30" type="text" /></div></div>
                <div><label for="transaction_credit_card_expiration_date">Expiration Date (MM/YY)</label></div>
                <div><div class=""><input id="transaction_credit_card_expiration_date" name="transaction[credit_card][expiration_date]" size="30" type="text" /></div></div>
                <div><label for="transaction_credit_card_cvv">CVV</label></div>
                <div><div class=""><input id="transaction_credit_card_cvv" name="transaction[credit_card][cvv]" size="30" type="text" /></div></div>
            </fieldset>  
            <input id="tr_data" name="tr_data" type="hidden" value="${trData}" />
            <input id="transaction_submit" name="commit" type="submit" value="Submit" />
        </form>
    </body>
</html>
